@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #171d2f;
    --secondary: #10b4c0;
    --background: #f9fafb;
    --surface: #ffffff;
    --danger: #d9383a;
    --success: #10ce19;
    --warning: #f59e0b;

    --text: #111827;
    --text-muted: #b6b6b6;

    --font-family-base:
      system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif;

    color-scheme: light;
  }

  .dark {
    --primary: #171d2f;
    --secondary: #10b4c0;
    --background: #121212;
    --surface: #12183b;
    --danger: #d9383a;
    --success: #10ce19;
    --warning: #f59e0b;

    --text: #ffffff;
    --text-muted: #9ba1a6;

    color-scheme: dark;
  }

  body {
    margin: 0;
    background: var(--background);
    color: var(--text);
    font-family: var(--font-family-base);
  }
}
